/*reset styles*/

a {
	color: inherit;
  text-decoration: none;
}

ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}


/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color:  azure;
}
table{
  margin-top: 30px;
}
table th{
background-color: #369;
width: 20%;
border-bottom-color: darkblue;
}

table tr{
  background-color: #e4f2e4;
}


/*menue component*/
.menuContainer{
  width: 100%;
}

.menuContainer ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style:none;
  text-align: center; 
}


.menuContainer  li{
  display: inline;
  color: white;
  background-color: #369;
  padding: 5px;
  margin: 10px ;
}

.menuContainer  li:hover{
background-color: #62A1BC;
transition: .3s background-color;
}