<h1>Score platform</h1>
<div class="menuContainer">
 <ul >
<li><a routerLink="/topplayers" routerLinkActive="active">Top players</a> </li>
<li><a routerLink="/about" routerLinkActive="active">About</a></li>
 </ul>

</div>